/*===================================== 
YOU CAN WRIGHT CUSTOME CSS 
======================================*/

.tp-banner {
  background-image: asset-url('background.jpeg');
}

.min-height {
  min-height: 800px;
}

.bg-map {
  background-image: asset-url('bg-map.png');
}

.bg-trans-2 {
  background-image: asset-url('bg-trans-2.png');
}